<?xml version="1.0"?>
<!-- 4 Wheel Robot with front steering and rear drive -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="delicar_robot">

  <xacro:arg name="prefix" default="" />

  <xacro:arg name="use_sim" default="false" />

  <xacro:include filename="$(find delicar_description)/urdf/robot/color.materials.xacro" />
  <xacro:include filename="$(find delicar_description)/urdf/robot/delicar_description.urdf.xacro" />
  <!-- <xacro:include filename="$(find delicar_description)/urdf/sensors/depth_camera.urdf.xacro" /> -->
  <xacro:include filename="$(find delicar_description)/urdf/sensors/imu.urdf.xacro" />
  <xacro:include filename="$(find delicar_description)/urdf/sensors/lidar_3d.urdf.xacro" />
  <xacro:include filename="$(find delicar_description)/urdf/controllers/delicar_controllers.xacro" />

  <!-- Import delicar description -->
  <xacro:delicar prefix="$(arg prefix)" />

  <!-- Import camera -->
  <!-- <xacro:depth_camera prefix="$(arg prefix)" /> -->

  <!-- Import imu -->
  <xacro:imu prefix="$(arg prefix)"/>

  <!-- Import 3d lidar -->
  <xacro:lidar_3d 
    prefix="$(arg prefix)"
    frame_id="rslidar"
  />
  
  <!-- Import controllers -->
  <xacro:delicar_ros2_control name="Delicar" prefix="$(arg prefix)" />  
</robot>