<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="camera" params="prefix">

    <joint name="${prefix}camera_joint" type="fixed">
        <origin
        xyz="1.8 0 0.7"
        rpy="0 0 0" />
        <parent link="${prefix}base_link" />
        <child link="${prefix}camera_link" />
        <axis xyz="0 0 0" />
    </joint>

    <link name="${prefix}camera_link">
        <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <box size="0.03 0.3 0.08"/>
            </geometry>
            <material name="">
                <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>
        </visual>
    </link>

    <joint name="${prefix}camera_optical_joint" type="fixed">
        <parent link="${prefix}camera_link"/>
        <child link="${prefix}camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="${prefix}camera_link_optical"></link>

    <gazebo reference="${prefix}camera_link">

        <material>Gazebo/Gray</material>

        <sensor name="camera" type="depth">

            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>90</update_rate>

            <camera>
                <horizontal_fov>1.507</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>1280</width>
                    <height>720</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>100.0</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.005</stddev>
                </noise>
            </camera>

            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>${prefix}camera_link_optical</frame_name>
                <min_depth>0.1</min_depth>
                <max_depth>100.0</max_depth>            
            </plugin>

            <plugin name="pointcloud_controller" filename="libgazebo_ros_pointcloud.so">
                <topic_name>/camera/depth/points_out</topic_name>
                <frame_name>${prefix}camera_link_optical</frame_name>
            </plugin>

        </sensor>
    </gazebo>
    
  </xacro:macro>

</robot>
